@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-size: 10px;
    font-family: monospace, sans-serif;
}


input, textarea {
    border: 1px solid grey;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-size:1.4rem;
    margin-bottom: 0.5rem;
}

.form button, .btn {
    margin: 2rem 1rem;
    padding: 0.5rem 4rem;
    border-radius: 2rem;
    color: white;
    box-shadow: inset 120rem 120rem 0.1rem rgb(79, 64, 210), 0.1rem 0.1rem 0.5rem black;
}

/****************** HEADER ******************/

header {
    width: 100vw;
    box-shadow: 1px 1px 5px black;
    height: 100px;
    position:fixed;
    z-index: 5;
}

nav {
    width: 100vw;
    height: 100%;
}
ul {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 2.7rem;
    gap: 7rem;
    padding: 0 7rem;
    color: rgba(255, 255, 255, 0.823);
    background: rgba(79, 64, 210,1);
}

nav ul .active {
    text-decoration: underline;
}

nav ul li:last-child
{
    margin-left: auto;
}

/****************** SUBMENU ******************/

.submenu {
    margin-top: -40px;
    margin-bottom: 40px;
    height: 40px;
}
.submenu ul {
    gap: 0;
    padding:0;
    font-size: 1.7rem;
    width: fit-content;
}
.submenu ul li {
    display: flex;
    justify-content: center;
    height: 100%;
    border: 1px solid olive;    
    white-space: nowrap;
}
.submenu a.active {
    box-shadow: inset 1px 1px 10px black;
}
.submenu button {
    width: 20rem;
    height: 100%;
}


/****************** CONTENT ******************/

#content {
    padding: 140px 50px 40px;
    min-height: 100vh;
    display:flex;
    font-size: 2.3rem;
    flex-direction: column;
}

/****************** CONTENT > INDEX ******************/

#welcome {
    width: 100%;
    /* background-color: yellowgreen; */
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}
#welcome h1 {
    font-size: 5rem;
    margin-top: 1rem;
    
    text-transform: uppercase;
}

#welcome small + a {
    margin: 3rem 0;
}

/****************** CONTENT > EVENTS ******************/

div[class*="event-"] {
display: flex;
}

.event-container {
    gap: 5rem;
}

.event {
    border-radius: 2rem;
    width: 50%;
}

.event-header {
    background: rgb(68, 68, 123);
    border-radius: 2rem 2rem 0 0;
    color: white;
    padding: 2rem 3rem;
    padding-bottom: 0.5rem;
}

.event-header > div, .event-description {
    flex-direction: column;
}

.event-header *:not(.event-title) {
    font-size: 1.5rem;
}
.event-user {
    margin-left: auto;
    justify-content: space-around;
}
.event-description {
    border: 1px solid rgb(68, 68, 123);
    border-radius: 0 0 2rem 2rem;
    font-size: 2rem;
    padding: 1rem 3rem;
}
.event-description > span {
    font-size: 1.5rem;
    text-decoration: underline;
    margin: 1rem 0;
}



/****************** LOGIN ******************/

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    flex-grow: 1;
}
.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: center;
    align-items: center;
    /* background: yellow; */
    font-size: 1.6rem;
    border-radius: 20px;
    border: 1px solid rgb(68, 68, 123);
}

.form h1 {
    margin: 20px 0;
    font-size: 3rem;
}

label {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* background:hotpink; */
}

label span {
    margin: 0.5rem 0 0.3rem 1rem;
}


/****************** SEARCH ******************/

#search-spinner {
    width: 3rem;
    height: 3rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
    animation: spin 1s infinite linear;
    position: absolute;
    left: 24rem;
    top: 0.8rem;
  }

  input[type="search"].loading {
    background-image: none;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  input[type="search"] {
    padding-left: 4rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23999' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 0.625rem 0.75rem;
    background-size: 3rem;
    position: relative;
  }