@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-size: 10px;
    font-family: monospace, sans-serif;
}


input, textarea {
border: 1px solid grey;
border-radius: 2rem;
padding: 0.5rem 1rem;
font-size:1.4rem;
margin-bottom: 0.5rem;
}

.form button, .btn {
    margin: 2rem 1rem;
    padding: 0.5rem 4rem;
    border-radius: 2rem;
    color: white;
    box-shadow: inset 120rem 120rem 0.1rem rgb(79, 64, 210), 0.1rem 0.1rem 0.5rem black;
}

/****************** HEADER ******************/

header {
    width: 100vw;
    /* background: rgba(79, 64, 210,1); */
    box-shadow: 1px 1px 5px black;
    height: 100px;
    position:fixed;
    z-index: 5;
    
    
}

nav {
    /* background: hotpink; */
    width: 100vw;
    /* margin: 0rem 2rem;
    padding: 2rem 0; */
    height: 100%;
    /* color: rgba(255, 255, 255, 0.823); */
}
ul {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* background: yellowgreen; */
    height: 100%;
    font-size: 2.7rem;
    gap: 7rem;
    padding: 0 7rem;
    color: rgba(255, 255, 255, 0.823);
    background: rgba(79, 64, 210,1);
}

nav ul .active {
    text-decoration: underline;
}

nav ul li:last-child
{
    margin-left: auto;
}

/****************** SUBMENU ******************/

.submenu {
    margin-top: -40px;
    margin-bottom: 40px;
    height: 40px;
    /* width: auto; */

}
.submenu ul {
gap: 0;
padding:0;
font-size: 1.7rem;
width: fit-content;
    
}
.submenu ul li {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
    /* padding: 0; */
    border: 1px solid olive;
    /* background: yellowgreen; */
    
    white-space: nowrap;
}


.submenu a.active {
    box-shadow: inset 1px 1px 10px black;
}
.submenu button {
    width: 20rem;
    height: 100%;
}


/****************** CONTENT ******************/

#content {
    padding: 140px 50px 40px;
    min-height: 100vh;
    display:flex;
    font-size: 2.3rem;
    flex-direction: column;
}


/****************** CONTENT > EVENTS ******************/

div[class*="event-"] {
display: flex;
}

.event-container {
    gap: 5rem;
}

.event {
    border-radius: 2rem;
    width: 50%;
}

.event-header {
    background: rgb(68, 68, 123);
    border-radius: 2rem 2rem 0 0;
    color: white;
    padding: 2rem 3rem;
    padding-bottom: 0.5rem;
}

.event-header > div, .event-description {
    flex-direction: column;
}

.event-header *:not(.event-title) {
    font-size: 1.5rem;
}
.event-user {
    margin-left: auto;
    justify-content: space-around;
}
.event-description {
    border: 1px solid rgb(68, 68, 123);
    border-radius: 0 0 2rem 2rem;
    font-size: 2rem;
    padding: 1rem 3rem;
}
.event-description > span {
    font-size: 1.5rem;
    text-decoration: underline;
    margin: 1rem 0;
}



/****************** LOGIN ******************/

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    flex-grow: 1;
}
.form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: center;
    align-items: center;
    /* background: yellow; */
    font-size: 1.6rem;
    border-radius: 20px;
    border: 1px solid rgb(68, 68, 123);
}

.form h1 {
    margin: 20px 0;
    font-size: 3rem;
}

label {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* background:hotpink; */
}

label span {
    margin: 0.5rem 0 0.3rem 1rem;
}



